.Order{
    margin : 10px auto;
    width : 80%;
    height : 300px;
    border : solid 1px black;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}