* {
    text-align : center
}
.Price {
    width : 100%;
    display : inline-block;
    text-align : center;
    padding : 0px;
    font-family: 'Roboto';
    font-size : 2rem;
    font-weight: 500;
    margin : 0;
    margin-bottom : 10px;
    color : white;
    background-color: #CF8F2E;
}