.InputEl{
    width : 100%;
    padding : 10px;
    display : flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    input{
        width : 100%;
        box-sizing: border-box;
    }
    select{
        width : 30%;
        height : 45px;
        box-sizing: border-box;
    }
}